/* DEBUG */
/* .debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

[class^='container'],[class^='col']{
  background-color: rgba(100, 148, 237, 0.209);
  border: 1px solid;
} */

/* MAIN CONTAINER PAGE */

.main_container {
  height: 100vh;
}

/* CANVAS */

.ac_container {
  width: calc(100% - 70px);
  height:calc(100% - 70px);
  overflow: auto;
}

.off-canvas-sect {
  color: white;
  background-color: rgb(27, 114, 232);
}

.off_ac_canv {
  width: 100% !important;
}

/* NAVBAR TOP */

.top-bar {
  width: 100%;
  height: 70px;
  background-color: rgb(248, 249, 250);
}

nav .ac_top-nav {
  background-color: white;
}

.logo-mobile {
  height: 50px ;
}

.logo-desk {
  height: 30px;
}

/* ASIDE BAR */

.ac_aside {
  width: 70px;
  height: calc(100% - 70px);
  background-color: rgb(5, 30, 52);
  background-image:url("/img/sidebar-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;  
}

.ac_aside a {
  text-decoration: none;
  color: white;
}

.ac_aside a:hover {
  background-color: aqua;
}

/* MEDIA QUERY*/
@media screen and (min-width:768px) {
  .ac_aside {
    width: 150px;
  }

  .ac_container {
    width: calc(100% - 150px);
  }

  .off_ac_canv {
    width: 50% !important;
  }
  

}